<section id="masterhead-top-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slug">Shop Our Brands</div>
				<div id="small-logo"><img src="{{page_folder}}_images/logo-white.png" alt=""></div>
			</div>
		</div>
	</div>
</section>
<section id="logo-area">
	<div class="container">
		<img src="{{page_folder}}_images/logo-gray.png" alt="">
	</div>

</section>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-bar">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a class="nav-link" href="{{page_folder}}index.html"><img src="{{page_folder}}_images/home-icon.png" alt="" style="height:32px;"> Home</a>
				</li>

				{{#each flavours}}
				<li class="nav-item">
					<a class="nav-link" href="{{../page_folder}}{{folder}}">{{name}}</a>
				</li>
				{{/each}}

				<li class="nav-item">
					<a class="nav-link" href="{{page_folder}}Candle Glass Boutique Catalogue 2017.pdf" target="_blank">free catalog</a>
				</li>
			</ul>

		</div>
	</div>
</nav>